/* Style for the form to align items */
form {
    display: flex;
    align-items: center;
}

/* Basic styles for the input field */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none;
    /* Remove right border to blend with the button */
    border-radius: 10px;
    width: 100%;
}

/* Styles for the arrow button */
/* button {
    padding: 10px 10px;
    font-size: 16px;
    background-color: #ecc2e3;
    /* Bootstrap primary color */
    /* color: white;
    border: 1px solid #007bff;
    border-left: none;
    /* Remove left border to blend with the input field */
    /* cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s ease;
} */ 

/* button:hover {
    background-color: #0a7253 !important;
    Darker shade for hover effect
} */ 

.button-custom-padding {
    padding: 0.3rem 0.7rem !important;
    text-align: center;
    justify-content: center;
    /* Adjust these values as needed */
}

.button-custom-padding:hover {
    background-color: #056b3c !important;
    /* Darker shade for hover effect */
}

.button-text-size {
    font-size: 13px !important;
    /* Adjust the font size as needed */
}