form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 10px;
    width: 100%;
}

.button-custom-padding {
    padding: 0.3rem 0.7rem !important;
    text-align: center;
    justify-content: center;
}

.button-custom-padding:hover {
    background-color: #056b3c !important;
    /* Darker shade for hover effect */
}

.button-text-size {
    font-size: 13px !important;
    /* Adjust the font size as needed */
}
